<div class="container">
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <span class="counter-text">
      {{ 'HOME.COUNT_LABEL' | translate }} {{ counter }}
    </span>
    <button class="btn-increment" mat-raised-button color="accent" (click)="onIncrementClick()">{{ 'HOME.BTN_INCREMENT' | translate }}</button>
  </div>
</div>
