<div class="container">
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="50%" fxFlex.lt-sm="90%" class="login-card mat-elevation-z4">
      <mat-card-content >
        <form [formGroup]="formGroup">
          <div class="form-container">
            <mat-form-field hintLabel="{{ 'LOGIN.USER_NAME_HINT' | translate }}">
              <input matInput #input1 maxlength="32" placeholder="{{ 'LOGIN.USER_NAME_PLACEHOLDER' | translate }}" formControlName="userName" required>
              <mat-hint align="end">{{input1.value?.length || 0}}/32</mat-hint>
            </mat-form-field>

            <mat-form-field hintLabel="{{ 'LOGIN.PASSWORD_HINT' | translate }}">
              <input matInput #input2 maxlength="12" placeholder="{{ 'LOGIN.PASSWORD_PLACEHOLDER' | translate }}" formControlName="password" required [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide" [color]="formGroup.get('password').invalid && (formGroup.get('password').dirty || formGroup.get('password').touched) ? 'warn':'primary'">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint align="end">{{input2.value?.length || 0}}/12</mat-hint>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-raised-button (click)="login(formGroup.value)" color="accent" [disabled]="!formGroup.valid">{{ 'LOGIN.BTN_LOGIN' | translate }}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
