.container {
  height: 92%;
  overflow: hidden;
  .login-card {
    margin: auto;

    .form-container {
      display: flex;
      flex-direction: column;
      justify-items: center;
    }

    .form-container > * {
      width: 100%;
    }
  }
}
