<h1 mat-dialog-title>{{ data.title || 'INFORMATION' | translate }}</h1>
<mat-dialog-content style="white-space:pre">{{ data.content | translate }}</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close [mat-dialog-close]="true" (click)="onNoClick()">Ok</button>
</mat-dialog-actions>
