<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title | translate }}</span>
    <!--<span class="simple-spacer"></span>
    <a routerLink="login" style="padding: 0 8px" routerLinkActive="'active fluffy'">login</a>
    <a routerLink="home" style="padding: 0 8px" routerLinkActive="'active fluffy'">home</a>-->
    <span class="simple-spacer"></span>
    <span class="toolbar-icon" (click)="setLanguage('ru')">RU</span>
    <span class="toolbar-icon" (click)="setLanguage('en')">US</span>
    <mat-icon class="toolbar-icon" aria-hidden="false" [matMenuTriggerFor]="menu" aria-label="Menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>{{ 'ABOUT' | translate }}</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div class="route-anim" [@routeAnimations]="prepRouteState(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
