@import '~@angular/material/theming';

@include mat-core();

$alt-primary: mat-palette($mat-gray);
$alt-accent:  mat-palette($mat-gray, A100);

$alt-warn:    mat-palette($mat-red);

$alt-theme: mat-dark-theme($alt-primary, $alt-accent, $alt-warn);

.alternative {
  @include angular-material-theme($alt-theme);
}
$custom-primary: mat-palette($mat-blue-gray, 600);
$custom-accent:  mat-palette($mat-blue-gray, A100);

$custom-warn:    mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);
