<h1 mat-dialog-title>{{ 'INFORMATION' | translate }}</h1>
<mat-dialog-content style="white-space:pre">{{ 'CURRENT_VALUE' | translate }}{{ data.counter }}</mat-dialog-content>
<mat-dialog-content style="white-space:pre">{{ 'NEXT_VALUE' | translate }}{{ data.nextValCounter }}</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close [mat-dialog-close]="false" (click)="onNoClick()" cdkFocusInitial>{{ 'CANCEL' | translate }}</button>
  <button mat-button [mat-dialog-close]="true">{{ 'CONFIRM' | translate }}</button>
</mat-dialog-actions>
